In [11]:
#creating a data frame from scratch
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 32, 37]
}

df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   37

In [12]:
df.head()        # First 5 rows
df.tail()        # Last 5 rows
df.info()        # Structure, column types, missing values
df.shape # Returns a tuple with the df dimension (# of rows, # columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

(3, 2)

In [13]:

# We made a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Evelyn'],
    'Age': [25, 32, 37, 29, 41],
    'Department': ['HR', 'Engineering', 'Sales', 'Marketing', 'Engineering'],
    'Salary': [50000, 75000, 62000, 58000, 80000]
}

df = pd.DataFrame(data)


##For the codes below, type in INSIDE the print statements!
# 1. View the first five rows
print(df.head())

# 2. View the last five rows
print(df.tail())

# 3. Get basic info about the DataFrame
print(df.info())

# 4. Check the shape of the DataFrame
print(df.shape)

      Name  Age   Department  Salary
0    Alice   25           HR   50000
1      Bob   32  Engineering   75000
2  Charlie   37        Sales   62000
3    David   29    Marketing   58000
4   Evelyn   41  Engineering   80000
      Name  Age   Department  Salary
0    Alice   25           HR   50000
1      Bob   32  Engineering   75000
2  Charlie   37        Sales   62000
3    David   29    Marketing   58000
4   Evelyn   41  Engineering   80000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None
(5, 4)

In [14]:
df.Age # Dot Notation: useful when there are no empty spaces in your column names
df['Age'] # Bracket Notation: necessary when column names include spaces or special characters (recommended)

0    25
1    32
2    37
3    29
4    41
Name: Age, dtype: int64

In [15]:
df[['Name', 'Age']]

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   37
3    David   29
4   Evelyn   41

In [17]:
# Select just the 'Name' column
df['Name']

# Select 'Name' and 'Salary' columns
df[['Name', 'Salary']]

# Filter for employees older than 30
df[df['Age'] > 30]

# Filter for employees in the Engineering department
df[df['Department'] == 'Engineering']

     Name  Age   Department  Salary
1     Bob   32  Engineering   75000
4  Evelyn   41  Engineering   80000

In [18]:
df.loc[0]                    # Row with label 0
df.loc[0:2]                  # Rows with labels 0 through 2
df.loc[0:2, ['Name', 'Age']] # Rows 0-2, only 'Name' and 'Age' columns

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   37

In [19]:
df.iloc[0]              # First row (position 0)
df.iloc[0:3]            # First three rows
df.iloc[0:3, 0:2]       # First 3 rows, first 2 columns

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   37

In [20]:
# Get the full first row by label
df.loc[0]

# Get the first 3 rows and first 2 columns by position
df.iloc[0:3, 0:2]

# Get the 'Name' of the third row using .iloc
df.iloc[2, 0]

# Get the same using .loc (if the index is default)
df.loc[2, 'Name']

'Charlie'

In [29]:
# Run the code below to load a real dataset from the web. Then complete the prompts using Pandas indexing tools.
import pandas as pd

# Load Titanic dataset directly from GitHub
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url)

# Preview the data
print(df.head())

# Now answer the following using .loc[] and .iloc[] Put your answers inside the print statements!
# 1. Use .loc to get the name and age of the passenger with index 12
print(df.loc[12, ['Name', 'Age']])

# 2. Use .iloc to get the first 5 rows and first 3 columns
print(df.iloc[0:5, 0:3])

# 3. Use .loc to get all passengers in 1st class who are female
print(df.loc['Pclass', 'Sex'])

# 4. Use .iloc to get the age of the 10th passenger (by position)
print()

# 5. Use .loc to get the 'Fare' and 'Survived' values for passengers with index 100 to 105
print()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
Name    Saundercock, Mr. William Henry
Age                               20.0
Name: 12, dtype: object
   PassengerId  Survived  Pclass
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

KeyError: 'Pclass'