In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r'C:\Users\tm96\Documents\Projects\Python_Stuff\Mod_2\Week_1\Data_Sets\Street_Tree_List.csv', parse_dates=['PlantDate'])
df = df[['TreeID', 'qSpecies', 'PlantDate', 'DBH']]
df.rename(mapper={'DBH':"tree_depth"}, axis=1, inplace=True)

df.head(10)

C:\Users\tm96\AppData\Local\Temp\ipykernel_27036\4047163526.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df = pd.read_csv(r'C:\Users\tm96\Documents\Projects\Python_Stuff\Mod_2\Week_1\Data_Sets\Street_Tree_List.csv', parse_dates=['PlantDate'])

   TreeID                                      qSpecies  PlantDate  tree_depth
0   46534                                    Tree(s) :: 2002-04-01         NaN
1  121399       Corymbia ficifolia :: Red Flowering Gum        NaT         NaN
2   85269    Arbutus 'Marina' :: Hybrid Strawberry Tree 2007-07-24         NaN
3  121227         Sequoia sempervirens :: Coast Redwood        NaT         NaN
4   45986                                    Tree(s) :: 2001-12-06         NaN
5   53918         Prunus serrulata :: Ornamental Cherry 1998-12-21         NaN
6   19600  Cupressocyparis leylandii :: Leyland Cypress        NaT        12.0
7   19827  Cupressocyparis leylandii :: Leyland Cypress        NaT         6.0
8   19601  Cupressocyparis leylandii :: Leyland Cypress        NaT        12.0
9   19599  Cupressocyparis leylandii :: Leyland Cypress        NaT        12.0

In [6]:
df.describe()

              TreeID                      PlantDate     tree_depth
count  193940.000000                          68911  151614.000000
mean   126960.027674  2000-12-02 22:19:59.122346112       9.927665
min         1.000000            1955-09-19 00:00:00       0.000000
25%     52836.750000            1995-01-30 00:00:00       3.000000
50%    121171.500000            2001-07-24 00:00:00       7.000000
75%    203348.250000            2008-11-21 00:00:00      12.000000
max    262465.000000            2020-07-30 00:00:00    9999.000000
std     79504.829131                            NaN      29.318932