In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"C:\Users\tm96\Documents\Projects\Python_Stuff\Mod_2\Week_1\Data_Sets\countries of the world.csv")

             Country                               Region
0            Country                               Region
1       Afghanistan         ASIA (EX. NEAR EAST)
2           Albania   EASTERN EUROPE
3           Algeria   NORTHERN AFRICA
4    American Samoa   OCEANIA
..               ...                                  ...
223       West Bank   NEAR EAST
224  Western Sahara   NORTHERN AFRICA
225           Yemen   NEAR EAST
226          Zambia   SUB-SAHARAN AFRICA
227        Zimbabwe   SUB-SAHARAN AFRICA

[228 rows x 2 columns]