In [2]:
import pandas as pd

In [ ]:
#df = Data Frame 
#read_cvs to pull CVS files
df = pd.read_csv(r"C:\Users\tm96\Documents\Projects\Python_Stuff\Mod_2\Week_1\Data_Sets\countries of the world.csv")
df #how you call the data frame

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [8]:
#read_txt to pull txt files
##read_cvs will still pull txt files, but may not import correctly
#to fix the issues using cvs at the end of your file path add sep = '\t'
df = pd.read_csv(r"C:\Users\tm96\Documents\Projects\Python_Stuff\Mod_2\Week_1\Data_Sets\countries of the world.txt", sep = '\t')
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]